*~
*.swp
*.tmp
*.bak
.idea
.venv
*.log
config.conf
*.DS_Store
*.pyc
.coverage*
coverage*

.repo
!addons/
addons/*
!script/addons
doc/itpp*
doc/odoo*
script/OCA*
odoo
image_db
get-poetry.py
artifacts
wkhtmltox*
cache
docker-compose.override.yml
