# For script
giturlparse
agithub
gitpython
PyYAML
retrying
xmltodict
openupgradelib

# For OSX
cython

# For Odoo
wheel
phonenumbers
# For testing
websocket-client

# For updating poetry
toml
iscompatible
