# For script
giturlparse
agithub
gitpython
PyYAML
retrying
xmltodict
openupgradelib
unidiff

# For OSX
cython

# For Odoo
wheel
phonenumbers

# For OCA
factur-x

# For testing
websocket-client
python-stdnum
python-u2flib_server
python-dateutil
python-csv
python-chess
python-git
voicent-python
python-swiftclient
python-keystoneclient

# For logical test
docutils==0.16
flake8
pylint-odoo
git+https://github.com/oca/pylint-odoo.git#egg=pylint-odoo
# oca-maintainers-tools
# git+https://github.com/OCA/maintainer-tools.git#egg=oca-maintainers-tools

# For updating poetry
toml
iscompatible
pandas==1.2.0

# For deployment
cloudflare
