port {{ openvpn_port }}
proto {{ openvpn_proto }}
dev tun
ca {{ openvpn_pki_dir }}/ca.crt
cert {{ openvpn_pki_dir }}/issued/server.crt
key {{ openvpn_pki_dir }}/private/server.key
dh none
ecdh-curve X25519
tls-version-min 1.2
server {{ openvpn_clients_subnet }} {{ openvpn_clients_netmask }}
keepalive 10 120
persist-key
persist-tun
status /var/log/openvpn-status.log
verb 3

# Paramètres pour les clients itinérants
push "redirect-gateway def1 bypass-dhcp"
push "dhcp-option DNS 8.8.8.8"
push "dhcp-option DNS 8.8.4.4"

# Sécurisation TLS
crl-verify {{ openvpn_pki_dir }}/crl.pem
tls-auth {{ openvpn_pki_dir }}/ta.key 0

