services:
  ERPLibre:
    image: technolibre/erplibre:1.6.0_odoo_18.0_4f4f563
    ports:
      - 8069:8069
      - 8071:8071
      - 8072:8072
    environment:
      HOST: db,selenium-hub
      PASSWORD: mysecretpassword
      USER: odoo
      POSTGRES_DB: postgres
      STOP_BEFORE_INIT: "False"
      DB_NAME: ""
      UPDATE_ALL_DB: "False"
    depends_on:
      - db
      - selenium-hub
    # not behind a proxy
    #command: odoo --workers 0
    # behind a proxy
    #command: odoo --workers 2 --proxy-mode
    # For production ready
    #command: odoo --workers 2 --proxy-mode --no-database-list
    # Increase max memory
    #command: odoo --limit-memory-hard=0 --limit-memory-soft=0
    command: odoo
    volumes:
      # See the volume section at the end of the file
      - erplibre_data_dir:/home/odoo/.local/share/Odoo
      - ./addons/addons:/ERPLibre/odoo18.0/addons/addons
      - ./private:/ERPLibre/private
      - erplibre_conf:/etc/odoo
    restart: always

  db:
    image: postgis/postgis:17-3.6-alpine
    environment:
      POSTGRES_PASSWORD: mysecretpassword
      POSTGRES_USER: odoo
      POSTGRES_DB: postgres
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - erplibre-db-data:/var/lib/postgresql/data/pgdata
    restart: always

  chrome:
    image: selenium/node-chrome:4.34.0-20250707
    platform: linux/amd64
    shm_size: 2gb
    depends_on:
      - selenium-hub
    environment:
      - SE_EVENT_BUS_HOST=selenium-hub

  edge:
    image: selenium/node-edge:4.34.0-20250707
    platform: linux/amd64
    shm_size: 2gb
    depends_on:
      - selenium-hub
    environment:
      - SE_EVENT_BUS_HOST=selenium-hub

  firefox:
    image: selenium/node-firefox:4.34.0-20250707
    shm_size: 2gb
    depends_on:
      - selenium-hub
    environment:
      - SE_EVENT_BUS_HOST=selenium-hub

  # put into config.conf selenium_network_url=http://selenium-hub:4444
  # in python
  # from odoo.tools import config
  # config.get("selenium_network_url")
  selenium-hub:
    image: selenium/hub:4.34.0-20250707
    container_name: selenium-hub
    ports:
      - "8073:4442"
      - "8074:4443"
      - "8075:4444"

# We configure volume without specific destination to let docker manage it. To configure it through docker use (read related documentation before continuing) :
# - docker volume --help
# - docker-compose down --help
volumes:
  erplibre_data_dir:
  erplibre_conf:
  erplibre-db-data:
