# For script
giturlparse
agithub
GitPython==3.1.30
retrying
xmltodict
openupgradelib
unidiff
colorama
wheel
mmg

# For OSX
cython

# For Odoo
wheel
phonenumbers
# Force update version to latest, no break update
pytz>=2022.7

# For OCA
factur-x

# For smile
xmlrunner

# For testing
websocket-client
python-stdnum
python-u2flib_server
python-chess
python-git
voicent-python
python-swiftclient
python-keystoneclient
coverage

# For logical test
docutils==0.16.0
flake8<6.0.0
git+https://github.com/oca/pylint-odoo.git
# oca-maintainers-tools
# git+https://github.com/OCA/maintainer-tools.git#egg=oca-maintainers-tools
xmlformatter
css-html-prettify
BeautifulSoup4
git+https://github.com/psf/black.git@22.3.0
isort<5.12.0

# For updating poetry
toml
iscompatible
pandas==1.3.5
Jinja2==2.11.3
python-keystoneclient==3.22.0

# For deployment
cloudflare

# For multilang_md.py
click
emoji

# Fix bug geoengine
# https://github.com/OCA/geospatial/issues/318
shapely==1.8.5

# Code generator
mysqlclient==2.1.1

# pyproj >=3.3.0 is not compatible with python 3.7
pyproj==3.2.1

# to fix build
validators==0.20.0
sphinx==4.3.2

# Fix error
greenlet==0.4.17
gevent==20.9.0

# For some module
img2pdf

# fix zipp depend on importlib-metadata
zipp>=3.6.0

# Upgrade psycopg for better support python3
psycopg2==2.9.5

# Force update dependency to fix poetry
# numpy >=1.22 is not compatible with python 3.7
numpy==1.21.1
feedparser==6.0.10
geojson<3.0.0
regex==2022.3.2
pygount==1.5.1
pysaml2==7.2.1
gevent==1.5.0
freezegun==0.3.15

# asyncio
aioshutil<1.2
tqdm
uvloop

# Solve pcodedmp, oletools, rtfde and extract-msg
win_unicode_console

# Security issue, depend on extract-msg 0.36.1
chardet==5.0.0
extract-msg==0.36.1

# Force version for security update
pyyaml==6.0
lxml==4.9.1
cryptography==39.0.1
psutil==5.9.0
Pillow==9.3.0
Babel==2.9.1
reportlab==3.6.5
urllib3>=1.26.13
requests==2.28.1
boto3>=1.20.41
PyPDF2==1.27.9
mako==1.2.2
pyjwt==2.5.0
pygments==2.7.4
setuptools==65.5.1
Werkzeug==0.16.1
future==0.18.3
